beautifulsoup4==4.12.3
email-validator==2.1.0.post1
fastapi==0.109.2
google-cloud-storage==2.14.0
groundingdino-gml==0.1.2
httptools==0.6.1
ipykernel==6.22.0
itsdangerous==2.1.2
langchain==0.1.7
langchain-openai==0.0.6
langchainhub==0.1.14
orjson==3.9.14
pip-chill==1.0.3
pydantic-extra-types==2.5.0
pydantic-settings==2.2.0
python-multipart==0.0.9
python-socketio==5.11.1
serpapi==0.1.5
ujson==5.9.0
uuid==1.30
uvicorn==0.27.1
watchfiles==0.21.0
websockets==12.0
