email-validator==2.1.0.post1
fastapi==0.109.2
groundingdino-gml==0.1.2
httptools==0.6.1
ipykernel==6.22.0
itsdangerous==2.1.2
openai==1.12.0
orjson==3.9.14
pip-chill==1.0.3
pydantic-extra-types==2.5.0
pydantic-settings==2.2.0
python-multipart==0.0.9
ujson==5.9.0
uvicorn==0.27.1
uvloop==0.19.0
watchfiles==0.21.0
websockets==12.0
